<!-- https://www.w3schools.com/howto/howto_css_three_columns.asp -->
<footer>
    <div class="row">
        <div class="column">
            <img src="img/favicon.png" alt="">
            <p>Chubby Racoon</p>
        </div>
        <div class="column">
            <h2>Explore</h2>
            <a href="">Home</a><br>
            <a href="">About</a><br>
            <a href="">Profile</a><br>
        </div>
        <div class="column">
            <h2>Community</h2>
            <a href="">Home</a><br>
            <a href="">About</a><br>
            <a href="">Profile</a><br>
        </div>
    </div>
</footer>
