        <!--Call to action-->
        <section class="cta">
            <h1>Match. Chat. Date</h1>
            <div>
                <a href="./inloggen">Login</a>
                <a href="./registeren">Create account</a>
            </div>
            <p>By clicking login, you accept to our <a href="#">terms</a>.</p>
        </section>