<section class="bottom-gradient"></section>
        <nav class="bottombar">
            <form action="/matches" method="POST" id="swipeform">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </form>
        </nav>