<header>
    <nav>
        <button>
            <div class="hamburger">
            </div>
            <div>
                <a href="#">Login</a>
            </div>
        </button>
        <a href="/" class="logo">Dating</a>
    </nav>
</header>