<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="icon" type="image/png" href="./img/favi-icon.png"/>
    <link rel='stylesheet' href='path/to/typicons.min.css' />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dating app | Homepage</title>
</head>
<body>
    <%- include('includes/nav'); -%> <!-- including nav.ejs-->

    <main>
        <!--Call to action-->
        <section class="cta">
            <h1>Match. Chat. Date</h1>
            <div>
                <a href="./inloggen">Login</a>
                <a href="./registeren">Create account</a>
            </div>
            <p>By clicking login, you accept to our <a href="#">terms</a>.</p>
        </section>
    </main>

    <%- include('includes/footer'); -%> <!-- including footer.ejs-->

</body>
</html>
