<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="./img/favi-icon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dating app | You have a match</title>
</head>

<body>
    <section class="notification-person">
        <div></div>
        <img src="./img/photo-users/photo-melanie.png" alt="Picture user">
        <article class="notification-information">
            <h1>It's a Crush!</h1>
            <h2>Melanie, 21</h2>
        </article>
        <section class="first-text">
            <label for="first-text">Be kind:</label>
            <input type="text" placeholder="Be clever!">
        </section>
    </section>
    </main>
</body>

</html>