<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="./img/favi-icon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dating app | Register</title>
</head>

<body>
    <%- include('includes/nav'); -%>
    <!-- including nav.ejs-->

    <main>
        <!--Registeren-->
        <section class="formulier registreren">
            <div>
                <h2>Create account</h2>
                <form action=/register method=post>
                    <fieldset>
                        <legend>Fullname: *</legend>
                        <input type="name" id="name" name="name" required>
                        <legend>Email: *</legend>
                        <input type="email" id="email" name="email" required>
                        <legend>Password: *</legend>
                        <input type="password" id="password" name="password" required>
                        <legend>Repeat password: *</legend>
                        <input type="password" id="password" name="password_repeat" required>
                        <!-- <legend>Confirm</legend> -->
                        <button type="submit">Registeren</button>
                        <p>Already have an account?</p>
                        <a href="inloggen">Login</a>
                    </fieldset>
                </form>
            </div>
        </section>
    </main>

    <%- include('includes/footer'); -%>
    <!-- including footer.ejs-->

</body>

</html>