<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="./img/favi-icon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Dating app | Login</title>
</head>

<body>
    <%- include('includes/nav'); -%> 

    <main>
        <!--inloggen-->
        <%- include('includes/inloggen'); -%> 
    </main>

    <%- include('includes/footer'); -%> <!-- including footer.ejs-->
</body>
<script src="JS/login.js"></script>

</html>
