
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 30%;
    padding: 10px;
    margin-left: 2em;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
      background-color: var(--maincolor);
  }

  .column h2{
      font-family: 'Montserat', sans-serif;
      color: white;
      padding-top: 10px;
  }



.column a {
    text-decoration: none;
    color: var(--secondcolor);
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}