* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --maincolor: #E83548;
    --maincolor-second: #AB1F30;
    --secondcolor: #1E8CC9;
    --secondcolor-second: #51C5ED;
    --thirdcolor: #820CE8;
    --thirdcolor-second: #750CCF;
    --white: #FFFFFF;
    --black: #333;
    --gray: #A3A3A3;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: Bold;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: Medium;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: Regular;
}

p, a, button, legend {
    font-family: 'Roboto', sans-serif;
    font-weight: Regular;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3em;
    list-style-type: none;
    /* top: 0; */
    left: 0;
    z-index: 10;
    /* background: var(--Gradient); */
    background: transparent;
    position: absolute;
}

nav button {
    border: none;
    text-decoration: none;
}

nav ul {
    z-index: 9;
    position: fixed;
    right: 0;
    width: 90vw;
    list-style-type: none;
    top: 3em;
}

nav li {
    padding: 20px;
    background: var(--Navbackground);
    transition: 0.15s;
    width: 90vw;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

nav li:active {
    background: var(--Orangebackground);
    font-size: 1.1em;
    outline: none;
}

nav ul {
    transform: translateX(100%);
    transition: 0.7s;
}


nav ul li a {
    color: var(--wit);
    text-decoration: none;
    width: 100%;
    display: block;
}

nav ul li p {
    color: var(--wit);
    width: 100%;
    display: contents;
    margin-left: 20px;
}

nav .hamburger {
    height: auto;
    width: auto;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 15px;
}

nav .hamburger {
    transform: rotate(360deg);
    padding: 3px 2px;
    display: inline-block;
    background-color: transparent;
    z-index: 1;

}

nav div:nth-child(2)>a:nth-child(1) {
    display: none;
}

nav .hamburger div {
    width: 22px;
    height: 3px;
    margin: 5px;
    background-color: var(--wit);
}

.popnav {
    transform: translateX(0%);

}

.logo {
    position: absolute;
    top: 0;
    color: var(--white);
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.cta {
    position: relative;
    height: 100vh;
    z-index: 1;
    text-align: center;
    font-size: 50px;
}

.cta:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/CTA.jpg') no-repeat center center /cover;
    content: '';
    filter: brightness(60%);
    z-index: -1;
}



.cta h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 10vw;
    line-height: 1.18;
    font-weight: 800;
}

.cta p {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 4vw;
}


.cta div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta div a {
    display: block;
    position: absolute;
    top: 70%;
    background: var(--maincolor);
    border-radius: 5px;
    color: var(--white);
    padding: .5em;
    text-decoration: none;
    width: 80%;
    font-size: 16px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .27);
    border-radius: 100px;
    transition: 0.3s ease;
}

.cta div a:hover {
    background-color: var(--maincolor-second);
}

.cta div a:nth-child(2) {
    margin-top: 60px;
}

.cta p a {
    color: var(--white);
    transition: 0.3s ease;
}

.cta p a:hover {
    color: var(--maincolor);
}

.formulier {
    min-height: 100vh;
}

form p {
    text-align: center;
}

form a {
    margin-bottom: 10px;
    margin-top: 5px;
}
.formulier::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/CTA.jpg') no-repeat center center /cover;
    content: '';
    filter: brightness(60%);
    z-index: -1;
}


.formulier div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: var(--white);
    box-shadow: 0 0 10px #000000;
}

.registreren div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* height: 38rem; */
    width: 90%;
    background: var(--white);
    box-shadow: 0 0 10px #000000;
}


.formulier div h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 1.65em;
    color: var(--black);
}

.formulier form {
    padding: 30px 25px 20px 25px;
}

.formulier form input {
    margin-bottom: 15px;
    color: var(--black);
    padding: 12px;
}

/* The input fields need to be gray normally and red if you made a mistake, but it ain't working yet. */
/* .formulier form input:invalid {
    border: var(--maincolor) solid 1px;
} */



.formulier form p:nth-child(4),
.registreren div form p {
    text-align: center;
    font-size: 10px;
    margin-top: 15px;
}


.formulier form fieldset button,
.registreren div form button {
    background: var(--maincolor);
    border: none;
    width: 100%;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s ease;
}

.formulier form fieldset button:hover,
.registreren div form button:hover {
    background: var(--maincolor-second);
}

.formulier form fieldset a,
.registreren div form a {
    /* background: var(--maincolor);
    border: none;
    width: 100%;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s ease; */

    width: 100%;
    color: var(--secondcolor);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition: 0.3s ease;
}

.formulier form fieldset a:hover,
.registreren div form a:hover {
    color: var(--secondcolor-second);
}

/* .formulier form fieldset a:hover,
.registreren div form a:hover {
    background: var(--maincolor-second)
} */



input[type="text"],
[type="name"],
[type="email"],
[type="number"],
[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 8px;
    font-size: 1rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

legend {
    color: var(--black);
}

/* ------------- Swipe page ----------------- */

section.fullphoto-person {
    width: 100vw;
    height: 100vh;
}

section.fullphoto-person .person-information {
    text-align: center;
    top: 5em;
    left: 0;
    right: 0;
    margin: auto auto;
    position: absolute;
}

section.fullphoto-person img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: absolute;
}

.person-information h2 {
    font-size: 2em;
    color: var(--maincolor);
    text-shadow: 1px 3px 6px rgb(51, 51, 51, 0.35);
    margin-bottom: 5px;
}

.person-information p {
    color: var(--white);
    text-shadow: 1px 3px 6px rgb(51, 51, 51, 0.6);
}

.person-information div {
    margin-top: 0.7em;
}

.person-information div p {
    color: var(--secondcolor);
    background-color: var(--white);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    text-shadow: none;
    margin: 0px 3px 0px 3px;
}

/* ------------- Likenav ----------------- */

section.likebar {
    width: 100vw;
    height: 5em;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

section.likebar ul {
    width: 100vw;
    text-align: center;
    align-content: center;
    justify-content: center;
    display: flex;
}

section.likebar li {
    width: 6em;
    height: 5em;
    display: inline-block;
    bottom: 0;
    position: absolute;
    text-decoration: none;
    text-align: center;
    display: flex;
    transition: 0.3s ease;
}

section.likebar li:first-child {
    background-color: var(--maincolor);
    left: 0;
    border-radius: 35px 90% 35px 0px;
}

section.likebar li:first-child:hover {
    background-color: var(--maincolor-second);
    transform: scale(1.2);
}

section.likebar li:nth-child(2) {
    background-color: var(--thirdcolor);
    border-radius: 4em 4em 15px 15px;
    width: 8em;
    height: 4em;
}

section.likebar li:nth-child(2):hover {
    background-color: var(--thirdcolor-second);
    transform: scale(1.2);
}

section.likebar li:nth-child(3) {
    background-color: var(--secondcolor);
    right: 0;
    border-radius: 90% 35px 0px 35px;
}

section.likebar li:nth-child(3):hover {
    background-color: var(--secondcolor-second);
    transform: scale(1.2);
}

section.likebar button {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    display: flex;
    justify-content: center;
    border: none;
}


/* ------------- Icons ---------------- */

.cross-icon,
.star-icon,
.hearth-icon {
    width: 30px;
    height: auto;
    display: inline-block;
    fill: var(--white);
    position: absolute;
    margin-top: 30px;
}

.cross-icon {
    width: 25px;
}

.star-icon {
    bottom: 10px;
}


/* ------------- Media-query ----------------- */

@media screen and (min-width: 768px) {

    nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        position: absolute;
        width: 100%;
        background: transparent;
    }

    .logo {
        left: 0;
    }

    nav ul {
        width: 10vw;
        top: 4em;
    }

    nav div:nth-child(2)>a:nth-child(1) {
        height: auto;
        width: auto;
        cursor: pointer;
        position: fixed;
        top: 10px;
        right: 10px;
        display: block;
        position: absolute;
        background: var(--secondcolor);
        border-radius: 5px;
        color: var(--white);
        padding: 10px 15px;
        text-decoration: none;
        font-size: 16px;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .9);
        transition: 0.3s ease;
    }

    nav div:nth-child(2)>a:nth-child(1):hover {
        background: var(--secondcolor-second);
    }

    .cta h1 {
        font-size: 80px;
    }

    .cta p {
        font-size: 16px;
    }

    .cta div a {
        width: 30%;
        font-size: 16px;
        padding: 10px;
    }

    .cta:before,
    .formulier:before {
        background-position: calc(20% - 0px) calc(25% - 10px);
    }

    .formulier div {
        /* height: 26em; */
        width: 40%;
        background: var(--white);
        border-bottom: 10px solid var(--secondcolor);
        box-shadow: 0 0 10px #000000;
    }

    .formulier form p:nth-child(4),
    .registreren div form p, 
    .inloggen form fieldset p {
        margin-top: 20px;
        font-size: 15px;
        color: var(--gray);
        text-align: center;
    }

}