<section class="formulier registreren">
    <div>
        <h2>Reset password</h2>
        <form action=/reset method=post>
            <%- include('../includes/sucess-message'); -%>
            <%- include('../includes/error-message'); -%>
            <fieldset>
                <legend>E-mail: *</legend>
                <input type="email" id="email" name="email" required>
                <button type="submit">Reset password</button>
            </fieldset>
        </form>
    </div>
</section>