<header>
    <nav>
        <button>
            <div class="hamburger">
            </div>
            <div>
                <a href="./inloggen">Login</a>
            </div>
        </button>
        <a href="/" class="logo"><img src="../img/therelationship.svg" alt="Logo therelationship"></a>
    </nav>
</header>