<section class="formulier inloggen">
    <div>
        <h2>Login</h2>
        <%- include('../includes/sucess-message'); -%>
        <%- include('../includes/error-message'); -%>
        <form method="POST" action="/login">
            <fieldset>
                <legend>Email:</legend>
                <input type="email" id="email" name="email" required>
                <legend>Password:</legend>
                <div>
                    <input type="password" id="password" name="password" required>
                    <span id="toggle"></span>
                </div>
                <button type="submit" disabled>Login</button>
                <p>No account yet?</p>
                <a href="registeren" class="block-button">Create an account</a>
                <p>Forgot password?</p>
                <a href="forgot" class="text-button">Request for change</a>
            </fieldset>
        </form>
    </div>
</section>